[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pympler = "==1.0.1"
pypi = "==2.1"
numpy = "*"
scikit-learn = "==1.5.2"
flask = "*"

[dev-packages]

[requires]
python_version = "3.12"
